body{
	margin: 20px;
}
.navbar-nav .nav-item a{
	margin-right: 70px;
	color: #898989;
}
.navbar-brand{
	color: #2f2e41;
}
h1{
	font-weight: bold;
	font-size: 65px;
	color: #2f2e41;
}
.trendng-title{
	color: #2f2e41;
}
.more-button{
	color: #e5d8df;
}
.trending-cards{
	border-radius: 30px;
	opacity: 0.2;
}
.trending-cards-title{
	transform: translateY(-160%);

}
.carousel-indicators li{
 	background-color: #c2e3dd;
 	height: 10px;
 	border-radius: 20px;

 }
 .carousel-indicators .active{
 	background-color: #006b5c;
 	
 }
 .card img{
 	border-radius: 30px;
 }